.App {
  text-align: center;
}

.user-container{
  width: 300px;
  height: 300px;
  border: solid rgb(104, 104, 160);
  box-shadow: 3px 3px 3px rgb(248, 142, 142);
  margin: 20px;
  padding: 10px;
  cursor: pointer;
  transition: 1s all;  
}

.user-profile-pic
{
  width: 200px;
  height: 200px;
  border-radius: 100px ;
}

.user-name
{
  color: blue;
}

.user-container:hover{
  transform: scale(1.1);
}

.nav-link
{
  display: flex;
  gap: 30px;
  font-weight: bold;
  font-size: 30px;
}

.user-container-list
{
  display: flex;
}

.user-detail-container
{
  width: 400px;
  height: 300px;
  border: solid blue;
  margin:  30px auto;
  display: flex;
}

.user-detail-container img{
  margin: 20px;
}